doctype html
html.app(lang='en')

  include base/head
  include base/foot
  body

    include base/header

    section.aw-container-wrap
      block main

      block content

      block form

    include base/footer
