footer
  div.aw-footer-wrap
    div.aw-footer
      ul.list-inline.pull-left
        li &copy; #{moment(Date.now()).format('YYYY')} 小陌科技

      ul.list-inline.pull-right
        li
          a(href="")
