doctype html
head(lang="en")
  title 指尖书香
  meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  link( rel="stylesheet" href="/css/bootstrap.css" type="text/css")
  link( rel="stylesheet" href="/css/common.css" type="text/css")
  link( rel="shortcut icon" href="/images/favicon.ico")